---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,modernize-*,portability-*,readability-*'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,modernize-*,portability-*,readability-*'
HeaderFilterRegex: '(src/ECS/)|(src/Client/)|(src/Server/)'
AnalyzeTemporaryDtors: false
