# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
build/
.idea/
.vscode/
.vs/
*.ini
!dllTest/*

#CMake
*.vcxproj*
CmakeCache*
CmakeFiles/
Debug/
cmake_*
*.dir/
*.sln
x64/

.cache/*
r-type_client
r-type_server

r-type-linux.sh
r-type-linux.tar
r-type-windows.zip
r-type-macos.zip
